body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: gray;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: black;
    border: 2px solid whitesmoke;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.cell:hover {
    background: greenyellow;
}

#message {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    background-color: black;
    color: whitesmoke;
}

input[type="text"]:focus {
    border-color: #333;
}

button {
    padding: 10px 18px;
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background-color: black;
    color: red;
}